In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password,g_key
from config import resolution,lat_max,lat_min,lng_max,lng_min
import json
from shapely.geometry import Point,shape
import os
from datetime import timedelta
from functions import Rmax_calc

# Reading Files from Database

In [2]:
# connect to postgres
db_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/fk_hl_model_remake'
engine = create_engine(db_string)
conn = engine.connect()

In [3]:
# Get data from database
# cells_df = pd.read_sql("SELECT * FROM cells_table",conn)
cells_fake_df = pd.read_sql("SELECT * FROM cells_table_fake",conn)
actual_oz_df = pd.read_sql("SELECT * FROM actual_oz_table",conn)
# blocks_df = pd.read_sql("SELECT * FROM blocks_table",conn)
# production_df = pd.read_sql("SELECT * FROM production_table",conn)
# adjustment_df = pd.read_sql("SELECT * FROM adjustment_table",conn)
# Get geojson data from Resources folder
file_path = os.path.join('..','..','Resources','cells_map.geojson')
with open(file_path) as f:
    cells_map = json.load(f)

In [4]:
file_path = os.path.join('..','..','Resources','actual_monthly_oz.json')
actual_oz_df.to_json(file_path)

# Start Processing Cells Information and Create Blocks

## Rmax and Recovery calculation

## Check Leaching Schedule Conflicts

In [5]:
cells = cells_fake_df.set_index('cell').drop(columns=['index'])
cells['stack_finish'] = pd.to_datetime(cells['stack_finish'])
cells['leach_start'] = pd.to_datetime(cells['leach_start'])
cells['leach_end'] = pd.to_datetime(cells['leach_end'])
# loop through cells
for feature_1 in cells_map['features']:
    polygon_1 = shape(feature_1['geometry'])
    cell_1 = feature_1['properties']['cell']
    lift_1 = feature_1['properties']['lift']
    for feature_2 in cells_map['features']:
        polygon_2 = shape(feature_2['geometry'])
        cell_2 = feature_2['properties']['cell']
        lift_2 = feature_2['properties']['lift']
        if polygon_1.intersects(polygon_2):
            if lift_1>lift_2 and cells.iloc[cell_1-1]['stack_finish']<cells.iloc[cell_2-1]['leach_end']:
                    # print('somethings not adding up')
                    # print(cells.iloc[cell_1-1])
                    # print(cells.iloc[cell_2-1])
                    suggest_date = cells.iloc[cell_1-1]['stack_finish'] - timedelta(days=5)
                    # print(f"Suggest moving {cell_2} leaching end date earlier to {suggest_date}")
                    action = "yes"#input('Do you agree? [yes/no]')
                    if action == "yes":
                        cells.at[cell_2,'leach_end'] = suggest_date
                        #print(suggest_date)
cells['leach_days'] = cells['leach_end']-cells['leach_start']
cells['leach_days'].groupby(cells['leach_days']).count()

leach_days
52 days      2
62 days      1
82 days      2
92 days      3
102 days     3
112 days     2
120 days    18
Name: leach_days, dtype: int64

## Create Blocks and Assign Blocks to Cells

In [6]:
# Create blocks
lat_list = np.linspace(lat_min,lat_max,resolution[0])
lng_list = np.linspace(lng_min,lng_max,resolution[1])
lat_lng=[]
for lat in lat_list:
    for lng in lng_list:
        lat_lng.append((lat,lng))
lat_lng[0]
blocks_list=[]
for i in lat_lng:
    point = Point(i[1],i[0])
    for feature in cells_map['features']:
        lift=feature['properties']['lift']
        polygon = shape(feature['geometry'])
        cell = feature['properties']['cell']
        if polygon.contains(point):
            blocks_list.append((i[0],i[1],lift,cell))
blocks_df = pd.DataFrame(data = blocks_list,columns=['lat','lng','lift','cell'])
blocks_in_cell = blocks_df['lat'].groupby(blocks_df['cell']).count()

cells['ounces_per_block'] = cells['ounces']/blocks_in_cell
cells['tons_per_block'] = cells['tons']/blocks_in_cell
cells['number_of_blocks'] = blocks_in_cell
cells['rmax'] = Rmax_calc(cells['ounces'],cells['tons'])

blocks_df = blocks_df.merge(cells[['stack_finish','leach_start','leach_end','leach_days','tons_per_block','ounces_per_block','rmax']],left_on='cell',right_on='cell')
blocks_df

,lat,lng,lift,cell,stack_finish,leach_start,leach_end,leach_days,tons_per_block,ounces_per_block,rmax
0,65.012000,-147.351429,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
1,65.012000,-147.350612,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
2,65.012265,-147.353061,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
3,65.012265,-147.352245,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
4,65.012265,-147.351429,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
...,...,...,...,...,...,...,...,...,...,...,...
5144,65.021816,-147.362857,4,18,2020-09-27,2020-09-30,2021-01-28,120 days,10303.913043,140.390869,0.738674
5145,65.021816,-147.362041,4,18,2020-09-27,2020-09-30,2021-01-28,120 days,10303.913043,140.390869,0.738674
5146,65.021816,-147.361224,4,18,2020-09-27,2020-09-30,2021-01-28,120 days,10303.913043,140.390869,0.738674
5147,65.022082,-147.363673,4,18,2020-09-27,2020-09-30,2021-01-28,120 days,10303.913043,140.390869,0.738674
5148,65.022082,-147.362857,4,18,2020-09-27,2020-09-30,2021-01-28,120 days,10303.913043,140.390869,0.738674

In [10]:
# Check if ounces and tons add up
blocks_df['ounces_per_block'].sum()==cells['ounces'].sum() and blocks_df['tons_per_block'].sum()==cells['tons'].sum()

True

In [11]:
blocks_df.sort_values(['lift','lat','lng'],inplace=True)
blocks_df

,lat,lng,lift,cell,stack_finish,leach_start,leach_end,leach_days,tons_per_block,ounces_per_block,rmax
0,65.012000,-147.351429,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
1,65.012000,-147.350612,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
2,65.012265,-147.353061,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
3,65.012265,-147.352245,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
4,65.012265,-147.351429,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,1994.483436,16.809887,0.706002
...,...,...,...,...,...,...,...,...,...,...,...
4417,65.020755,-147.366939,7,31,2021-12-01,2021-12-04,2022-04-03,120 days,7063.746988,51.103620,0.685780
4418,65.020755,-147.366122,7,31,2021-12-01,2021-12-04,2022-04-03,120 days,7063.746988,51.103620,0.685780
4419,65.020755,-147.365306,7,31,2021-12-01,2021-12-04,2022-04-03,120 days,7063.746988,51.103620,0.685780
4420,65.021020,-147.367755,7,31,2021-12-01,2021-12-04,2022-04-03,120 days,7063.746988,51.103620,0.685780
4421,65.021020,-147.366939,7,31,2021-12-01,2021-12-04,2022-04-03,120 days,7063.746988,51.103620,0.685780

# Export blocks_df to Resources folder for next step calculation

In [7]:
file_path = os.path.join('..','..','Resources','blocks_info.csv')
blocks_df.to_csv(file_path,index=False)

In [10]:
# This is to check if all points fall on the pad
# import gmaps
# gmaps.configure(api_key=g_key)
# locations = blocks_df[["lat", "lng"]]
# fig = gmaps.figure(center = (65.01864500588829,-147.3601770401001), zoom_level = 14)
# marker_layer = gmaps.marker_layer(locations.sample(100))
# fig.add_layer(marker_layer)
# fig