In [5]:
from functions import Rmax_calc,recovery_calc
import pandas as pd
import numpy as np
import os
from datetime import datetime,timedelta
import scipy.optimize
from geojson import Point, Feature, FeatureCollection, dump, Polygon

In [31]:
polygon_1 = Polygon([[(2.38, 57.322), (-120.43, 19.15), (23.194, -20.28), (2.38, 57.322)]])
properties_1 = {"lift": 1,"ounces": 15}
polygon_2 = Polygon([[(2.38, 57.322), (-120.43, 19.15), (23.194, -20.28), (2.38, 57.322)]])
properties_2 = {"lift": 1,"ounces": 15}
features = []
features.append(Feature(geometry=polygon_1, properties=properties_1))
features.append(Feature(geometry=polygon_2, properties=properties_2))

feature_collection = FeatureCollection(features)

with open('myfile.geojson', 'w') as f:
   dump(feature_collection, f)

In [33]:
feature_collection

{"features": [{"geometry": {"coordinates": [[[2.38, 57.322], [-120.43, 19.15], [23.194, -20.28], [2.38, 57.322]]], "type": "Polygon"}, "properties": {"lift": 1, "ounces": 15}, "type": "Feature"}, {"geometry": {"coordinates": [[[2.38, 57.322], [-120.43, 19.15], [23.194, -20.28], [2.38, 57.322]]], "type": "Polygon"}, "properties": {"lift": 1, "ounces": 15}, "type": "Feature"}], "type": "FeatureCollection"}

In [3]:
def sq(x):
    a = x*x-4
    return a

x = scipy.optimize.broyden1(sq,2)
print(x)

2.0

In [10]:
# blocks information
file_path = os.path.join('..','..','Resources','blocks_info.csv')
blocks_df = pd.read_csv(file_path)
block_a = blocks_df.iloc[0]

In [11]:
try_df = blocks_df[['tons_per_block','ounces_per_block','rmax']]

In [7]:
def s_to_s(X):
    y = [x+1 for x in X]
    # y = X+1
    # Obviously list calculation is faster
    return y

In [6]:
@np.vectorize
def s_to_s_new(X):
    y = [x+1 for x in X]
    # y = X+1
    # Obviously list calculation is faster
    return y

In [4]:
result_df = pd.DataFrame(data = try_df.apply(s_to_s,axis=1).tolist())
result_df.head()

NameError: name 'try_df' is not defined

In [ ]:
list_A = [(1,0.5,28),(1,0.8,30),(1,0.3,50)]
list_B = [recovery_calc(x[0],x[1],0.01,x[2]) for x in list_A]
list_B

[0.06140350877192985, 0.011320754716981102, 0.18148148148148147]

In [ ]:
block_1 = [[1,2],2,3,4,5]
block_2 = [[5,2],4,3,2,1]
df = pd.DataFrame([block_1,block_2])

In [ ]:
df

        0  1  2  3  4
0  [1, 2]  2  3  4  5
1  [5, 2]  4  3  2  1

In [ ]:
def seeThis(x):
    x['4']=x[1]+x[2]

In [ ]:
df[1]

0    2
1    4
Name: 1, dtype: int64

In [ ]:
(1,2)==(1,2)

True

In [ ]:
seeThis(df)

In [ ]:
df

        0  1  2  3  4  4
0  [1, 2]  2  3  4  5  5
1  [5, 2]  4  3  2  1  7

In [ ]:
df.iloc[0][0][0]

1

dataframe of lists

In [ ]:
class block:
    def __init__(self,rcum,days):
        self.rcum = rcum
        self.days = days

In [ ]:
block_a = block(0.8,30)
block_b = block(0.9,40)
block_c = block(0.7,20)
block_d = block(0.8,10)
blocks = [block_a,block_b,block_c,block_d]
blocks_df = pd.DataFrame(blocks)
blocks_df

                                               0
0  <__main__.block object at 0x000001DAFB003160>
1  <__main__.block object at 0x000001DAFB0030A0>
2  <__main__.block object at 0x000001DAFB0037C0>
3  <__main__.block object at 0x000001DAFB003490>

In [ ]:
see(blocks_df.iloc[0][0])

24.0

In [ ]:
blocks_df[0].apply(see)

0    24.0
1    36.0
2    14.0
3     8.0
Name: 0, dtype: float64

In [ ]:
def see(block):
    return block.rcum*block.days

In [ ]:
see(block_a)

24.0

In [ ]:
block_a

In [ ]:
project_span = (
    datetime(year=2019,month=1,day=1),
    datetime(year=2031,month=12,day=31)
    )
startyear = project_span[0].year
startmonth = project_span[0].month
endyear = project_span[1].year
endmonth = project_span[1].month
monthlist = [datetime(m//12, m%12+1, 1) for m in range(startyear*12+startmonth-1, endyear*12+endmonth)]
monthlist

[datetime.datetime(2019, 1, 1, 0, 0),
 datetime.datetime(2019, 2, 1, 0, 0),
 datetime.datetime(2019, 3, 1, 0, 0),
 datetime.datetime(2019, 4, 1, 0, 0),
 datetime.datetime(2019, 5, 1, 0, 0),
 datetime.datetime(2019, 6, 1, 0, 0),
 datetime.datetime(2019, 7, 1, 0, 0),
 datetime.datetime(2019, 8, 1, 0, 0),
 datetime.datetime(2019, 9, 1, 0, 0),
 datetime.datetime(2019, 10, 1, 0, 0),
 datetime.datetime(2019, 11, 1, 0, 0),
 datetime.datetime(2019, 12, 1, 0, 0),
 datetime.datetime(2020, 1, 1, 0, 0),
 datetime.datetime(2020, 2, 1, 0, 0),
 datetime.datetime(2020, 3, 1, 0, 0),
 datetime.datetime(2020, 4, 1, 0, 0),
 datetime.datetime(2020, 5, 1, 0, 0),
 datetime.datetime(2020, 6, 1, 0, 0),
 datetime.datetime(2020, 7, 1, 0, 0),
 datetime.datetime(2020, 8, 1, 0, 0),
 datetime.datetime(2020, 9, 1, 0, 0),
 datetime.datetime(2020, 10, 1, 0, 0),
 datetime.datetime(2020, 11, 1, 0, 0),
 datetime.datetime(2020, 12, 1, 0, 0),
 datetime.datetime(2021, 1, 1, 0, 0),
 datetime.datetime(2021, 2, 1, 0, 0),
 datetime.datetime(2021, 3, 1, 0, 0),
 datetime.datetime(2021, 4, 1, 0, 0),
 datetime.datetime(2021, 5, 1, 0, 0),
 datetime.datetime(2021, 6, 1, 0, 0),
 datetime.datetime(2021, 7, 1, 0, 0),
 datetime.datetime(2021, 8, 1, 0, 0),
 datetime.datetime(2021, 9, 1, 0, 0),
 datetime.datetime(2021, 10, 1, 0, 0),
 datetime.datetime(2021, 11, 1, 0, 0),
 datetime.datetime(2021, 12, 1, 0, 0),
 datetime.datetime(2022, 1, 1, 0, 0),
 datetime.datetime(2022, 2, 1, 0, 0),
 datetime.datetime(2022, 3, 1, 0, 0),
 datetime.datetime(2022, 4, 1, 0, 0),
 datetime.datetime(2022, 5, 1, 0, 0),
 datetime.datetime(2022, 6, 1, 0, 0),
 datetime.datetime(2022, 7, 1, 0, 0),
 datetime.datetime(2022, 8, 1, 0, 0),
 datetime.datetime(2022, 9, 1, 0, 0),
 datetime.datetime(2022, 10, 1, 0, 0),
 datetime.datetime(2022, 11, 1, 0, 0),
 datetime.datetime(2022, 12, 1, 0, 0),
 datetime.datetime(2023, 1, 1, 0, 0),
 datetime.datetime(2023, 2, 1, 0, 0),
 datetime.datetime(2023, 3, 1, 0, 0),
 datetime.datetime(2023, 4, 1, 0, 0),
 datetime.datetime(2023, 5, 1, 0, 0),
 datetime.datetime(2023, 6, 1, 0, 0),
 datetime.datetime(2023, 7, 1, 0, 0),
 datetime.datetime(2023, 8, 1, 0, 0),
 datetime.datetime(2023, 9, 1, 0, 0),
 datetime.datetime(2023, 10, 1, 0, 0),
 datetime.datetime(2023, 11, 1, 0, 0),
 datetime.datetime(2023, 12, 1, 0, 0),
 datetime.datetime(2024, 1, 1, 0, 0),
 datetime.datetime(2024, 2, 1, 0, 0),
 datetime.datetime(2024, 3, 1, 0, 0),
 datetime.datetime(2024, 4, 1, 0, 0),
 datetime.datetime(2024, 5, 1, 0, 0),
 datetime.datetime(2024, 6, 1, 0, 0),
 datetime.datetime(2024, 7, 1, 0, 0),
 datetime.datetime(2024, 8, 1, 0, 0),
 datetime.datetime(2024, 9, 1, 0, 0),
 datetime.datetime(2024, 10, 1, 0, 0),
 datetime.datetime(2024, 11, 1, 0, 0),
 datetime.datetime(2024, 12, 1, 0, 0),
 datetime.datetime(2025, 1, 1, 0, 0),
 datetime.datetime(2025, 2, 1, 0, 0),
 datetime.datetime(2025, 3, 1, 0, 0),
 datetime.datetime(2025, 4, 1, 0, 0),
 datetime.datetime(2025, 5, 1, 0, 0),
 datetime.datetime(2025, 6, 1, 0, 0),
 datetime.datetime(2025, 7, 1, 0, 0),
 datetime.datetime(2025, 8, 1, 0, 0),
 datetime.datetime(2025, 9, 1, 0, 0),
 datetime.datetime(2025, 10, 1, 0, 0),
 datetime.datetime(2025, 11, 1, 0, 0),
 datetime.datetime(2025, 12, 1, 0, 0),
 datetime.datetime(2026, 1, 1, 0, 0),
 datetime.datetime(2026, 2, 1, 0, 0),
 datetime.datetime(2026, 3, 1, 0, 0),
 datetime.datetime(2026, 4, 1, 0, 0),
 datetime.datetime(2026, 5, 1, 0, 0),
 datetime.datetime(2026, 6, 1, 0, 0),
 datetime.datetime(2026, 7, 1, 0, 0),
 datetime.datetime(2026, 8, 1, 0, 0),
 datetime.datetime(2026, 9, 1, 0, 0),
 datetime.datetime(2026, 10, 1, 0, 0),
 datetime.datetime(2026, 11, 1, 0, 0),
 datetime.datetime(2026, 12, 1, 0, 0),
 datetime.datetime(2027, 1, 1, 0, 0),
 datetime.datetime(2027, 2, 1, 0, 0),
 datetime.datetime(2027, 3, 1, 0, 0),
 datetime.datetime(2027, 4, 1, 0, 0),
 datetime.datetime(2027, 5, 1, 0, 0),
 datetime.datetime(2027, 6, 1, 0, 0),
 datetime.datetime(2027, 7, 1, 0, 0),
 datetime.datetime(2027, 8, 1, 0, 0),
 datetime.datetime(2027, 9, 1, 0, 0),
 datetime.datetime(2027, 10, 1, 0, 0),
 datetime.datetime(2027, 11, 1, 0, 0),
 datetime.datetime(2027, 12, 1, 0, 0),
 datetime.datetime(2028, 1, 1, 0, 0),
 datetime.datetime(2028, 2, 1, 0, 0),
 datetime.datetime(2028, 3, 1, 0, 0),
 datetime.datetime(2028, 4, 1, 0, 0),
 datetime.datetime(2028, 5, 1, 0, 0),
 datetime.datetime(2028, 6, 1, 0, 0),
 datetime.datetime(2028, 7, 1, 0, 0),
 datetime.datetime(2028, 8, 1, 0, 0),
 datetime.datetime(2028, 9, 1, 0, 0),
 datetime.datetime(2028, 10, 1, 0, 0),
 datetime.datetime(2028, 11, 1, 0, 0),
 datetime.datetime(2028, 12, 1, 0, 0),
 datetime.datetime(2029, 1, 1, 0, 0),
 datetime.datetime(2029, 2, 1, 0, 0),
 datetime.datetime(2029, 3, 1, 0, 0),
 datetime.datetime(2029, 4, 1, 0, 0),
 datetime.datetime(2029, 5, 1, 0, 0),
 datetime.datetime(2029, 6, 1, 0, 0),
 datetime.datetime(2029, 7, 1, 0, 0),
 datetime.datetime(2029, 8, 1, 0, 0),
 datetime.datetime(2029, 9, 1, 0, 0),
 datetime.datetime(2029, 10, 1, 0, 0),
 datetime.datetime(2029, 11, 1, 0, 0),
 datetime.datetime(2029, 12, 1, 0, 0),
 datetime.datetime(2030, 1, 1, 0, 0),
 datetime.datetime(2030, 2, 1, 0, 0),
 datetime.datetime(2030, 3, 1, 0, 0),
 datetime.datetime(2030, 4, 1, 0, 0),
 datetime.datetime(2030, 5, 1, 0, 0),
 datetime.datetime(2030, 6, 1, 0, 0),
 datetime.datetime(2030, 7, 1, 0, 0),
 datetime.datetime(2030, 8, 1, 0, 0),
 datetime.datetime(2030, 9, 1, 0, 0),
 datetime.datetime(2030, 10, 1, 0, 0),
 datetime.datetime(2030, 11, 1, 0, 0),
 datetime.datetime(2030, 12, 1, 0, 0),
 datetime.datetime(2031, 1, 1, 0, 0),
 datetime.datetime(2031, 2, 1, 0, 0),
 datetime.datetime(2031, 3, 1, 0, 0),
 datetime.datetime(2031, 4, 1, 0, 0),
 datetime.datetime(2031, 5, 1, 0, 0),
 datetime.datetime(2031, 6, 1, 0, 0),
 datetime.datetime(2031, 7, 1, 0, 0),
 datetime.datetime(2031, 8, 1, 0, 0),
 datetime.datetime(2031, 9, 1, 0, 0),
 datetime.datetime(2031, 10, 1, 0, 0),
 datetime.datetime(2031, 11, 1, 0, 0),
 datetime.datetime(2031, 12, 1, 0, 0)]

In [ ]:
blocks_df = pd.DataFrame(data=
    [[(1,3),1,'2019-01-01'],
    [(2,3),1,'2019-02-01'],
    [(1,3),2,'2020-01-01'],
    [(2,3),2,'2021-01-01'],
    [(1,3),3,'2021-05-01']],columns=['lat_lng','lift','date'])
blocks_df['next_date'] = ""
blocks_df

  lat_lng  lift        date next_date
0  (1, 3)     1  2019-01-01
1  (2, 3)     1  2019-02-01
2  (1, 3)     2  2020-01-01
3  (2, 3)     2  2021-01-01
4  (1, 3)     3  2021-05-01

In [ ]:
def target_function(row,r):
    
    for b in range(0,r):
        block = blocks_df.iloc[b]
        if block['lat_lng'] == row['lat_lng']:
            blocks_df.at[b,'next_date'] = block['date']

In [ ]:
for b in blocks_df.index:
    target_function(blocks_df.iloc[b],b)

In [ ]:
blocks_df

  lat_lng  lift        date   next_date
0  (1, 3)     1  2019-01-01  2019-01-01
1  (2, 3)     1  2019-02-01  2019-02-01
2  (1, 3)     2  2020-01-01  2020-01-01
3  (2, 3)     2  2021-01-01
4  (1, 3)     3  2021-05-01

In [ ]:
blocks_df.iloc[0]['next_date']='2021'

<ipython-input-37-fbdd0a889269>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  blocks_df.iloc[0]['next_date']='2021'

In [ ]:
list_of_num=[1,1,1,1,1,1]
sum(list_of_num[0:3])

3