In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2
from config import db_password,g_key
from config import resolution,lat_max,lat_min,lng_max,lng_min
import json
from shapely.geometry import Point,shape
import os
from datetime import timedelta
from functions import Rmax_calc

# Read files

In [3]:
# blocks information
file_path = os.path.join('..','..','Resources','blocks_info.csv')
blocks_df = pd.read_csv(file_path)

In [4]:
blocks_df.head()

,lat,lng,lift,cell,stack_finish,leach_start,leach_end,leach_days,tons_per_block,ounces_per_block,rmax
0,65.012000,-147.351313,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,482.857471,4.069615,0.706002
1,65.012000,-147.350909,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,482.857471,4.069615,0.706002
2,65.012000,-147.350505,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,482.857471,4.069615,0.706002
3,65.012131,-147.352525,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,482.857471,4.069615,0.706002
4,65.012131,-147.352121,1,1,2019-03-27,2019-03-30,2019-07-28,120 days,482.857471,4.069615,0.706002

# Recovery Calculation